@font-face {
    src: url(Sensation-Bold.tff);
    font-family: Sensation-Bold;
}
@font-face {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    src: url(Sensation-Bold.tff);
}
@media (max-width: 750px) {
    .nb1 {
      display: flex;
      flex-direction: column;
    }
  }

  header {
    position: fixed;
    top: 0;              /* stick to the top */
    left: 0;             /* start at left edge */
    width: 99.5%;         /* span full screen width */
    height: 80px;        /* optional: set your header height */
    display: flex;
    justify-content: space-between;
    align-items: center;  /* optional: add spacing inside */
    border: double rgb(185, 119, 19) 4px;
    background-color: black;
    
}
.navbar-nav {
    font-family: Sensation-Bold;
    display: flex;
    list-style: none;
    gap: 30px;
    background-color: black;
    margin: 0;
    padding: 0;
    margin-right: 1em;

}
.navlink:hover,
.navlink.active {
    color: orange;
    
}
.navlink {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.navlink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: orange;
  transition: width 0.4s ease; /* Animate underline width */
}

.navlink:hover::after,
.navlink.active::after {
  width: 100%; /* Animate to full width on hover/active */
}
.page box a{
    cursor: pointer;
}

#img1{
    width: 70px;
    height: 50px;
    object-fit: contain;
}
.f1{
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    align-items: center;
}
  
body {
    font-family: 'Genos', sans-serif; /* example */
    background-color: gray;
    margin-top: 5.8%;
    height: 100%;
    margin-left: -0.5%;
}

.fullscreen-bg{
  width: 100vw;
  height: 120vh;
  background-image: url('file:///C:/Users/ymae2/Desktop/HTML%20COURSE/Image/PMHMAIN1.jpg"');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fmsg{
    margin: 25px 50px 75px;
    padding: 0;
}